.version.about_us /* version checker */
{
	color: #00001D;
	background-color: #D30C6D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 988px;
	min-height: 689.5250000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#u1445
{
	z-index: 188;
	height: 62px;
	-pie-box-shadow: none;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.38);
	background-color: #FFFFFF;
	opacity: 0.81;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
	filter: alpha(opacity=81);
	position: fixed;
	top: 0px;
}

#u1445-bw
{
	z-index: 188;
}

#u1551
{
	z-index: 82;
	min-height: 242px;
	padding-bottom: 11px;
	background: transparent url("../images/ero-flower.jpg") no-repeat center center;
	background-size: cover;
}

#u1551_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 988px;
	position: relative;
	left: -100px;
}

#u828-4
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
	left: 788px;
}

#u1551-bw
{
	z-index: 82;
	min-height: 242px;
}

#u1446
{
	z-index: 189;
	width: 1091px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -546px;
}

#u1457
{
	z-index: 190;
	width: 152px;
	background-color: transparent;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: -546px;
}

#buttonu1453
{
	z-index: 192;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#u1454
{
	z-index: 194;
	height: 18px;
	width: 43px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 52px;
	background: url("../images/u1454.png") no-repeat 0px 0px;
}

#buttonu1453:hover #u1454
{
	background: url("../images/u1454-r.png") no-repeat 0px 0px;
}

#buttonu1453.ButtonSelected #u1454
{
	background: url("../images/u1454-a.png") no-repeat 0px 0px;
}

#buttonu1451
{
	z-index: 197;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 507px;
}

#buttonu1451.ButtonSelected
{
	background-color: transparent;
	width: 146px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1452-4
{
	z-index: 198;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 34px;
}

#buttonu1455
{
	z-index: 202;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 653px;
}

#u1456
{
	z-index: 204;
	height: 18px;
	width: 84px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 34px;
	background: url("../images/u1456.png") no-repeat 0px 0px;
}

#buttonu1455:hover #u1456
{
	background: url("../images/u1456-r.png") no-repeat 0px 0px;
}

#buttonu1455.ButtonSelected #u1456
{
	background: url("../images/u1456-a.png") no-repeat 0px 0px;
}

#buttonu1447
{
	z-index: 207;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 799px;
}

#u1448
{
	z-index: 209;
	height: 18px;
	width: 118px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 17px;
	background: url("../images/u1448.png") no-repeat 0px 0px;
}

#buttonu1447:hover #u1448
{
	background: url("../images/u1448-r.png") no-repeat 0px 0px;
}

#buttonu1447.ButtonSelected #u1448
{
	background: url("../images/u1448-a.png") no-repeat 0px 0px;
}

#buttonu1449
{
	z-index: 212;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 945px;
}

#buttonu1453:hover,#buttonu1455:hover,#buttonu1447:hover,#buttonu1449:hover
{
	background-color: #942A8F;
	border-radius: 0px;
	width: 146px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1450
{
	z-index: 214;
	height: 18px;
	width: 96px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 28px;
	background: url("../images/u1450.png") no-repeat 0px 0px;
}

#buttonu1449:hover #u1450
{
	background: url("../images/u1450-r.png") no-repeat 0px 0px;
}

#buttonu1449.ButtonSelected #u1450
{
	background: url("../images/u1450-a.png") no-repeat 0px 0px;
}

#u830-5
{
	z-index: 87;
	display: block;
	vertical-align: top;
	margin-left: 232px;
	margin-top: 114px;
	position: relative;
}

#pu871-4
{
	width: 0.01px;
	margin-top: 24px;
}

#u871-4
{
	z-index: 92;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 578px;
}

#u829-13
{
	z-index: 108;
	width: 988px;
	min-height: 578px;
	background-color: transparent;
	color: #662D91;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#pu847
{
	width: 0.01px;
	margin-top: -1px;
}

#u847
{
	z-index: 158;
	width: 218px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u853
{
	z-index: 160;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 348px;
}

#u858
{
	z-index: 162;
	width: 216px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 708px;
}

#pu874-4
{
	width: 0.01px;
	margin-top: 21px;
}

#u874-4
{
	z-index: 104;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u873-4
{
	z-index: 100;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#u872-4
{
	z-index: 96;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 718px;
}

#pu875-6
{
	width: 0.01px;
	margin-top: 2px;
}

#u875-6
{
	z-index: 164;
	width: 270px;
	min-height: 150px;
	background-color: transparent;
	color: #662D91;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u876-6
{
	z-index: 170;
	width: 270px;
	min-height: 150px;
	background-color: transparent;
	color: #662D91;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 336px;
}

#u877-6
{
	z-index: 176;
	width: 270px;
	min-height: 150px;
	background-color: transparent;
	color: #662D91;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 718px;
}

#u875-2,#u876-2,#u877-2
{
	font-size: 24px;
	line-height: 29px;
}

#u875-3,#u875-4,#u876-3,#u876-4,#u877-3,#u877-4
{
	font-size: 30px;
	line-height: 36px;
}

#u1287-5
{
	z-index: 182;
	width: 958px;
	min-height: 101px;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 72px;
	position: relative;
}

#u1287-2
{
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	color: #662D91;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u831
{
	z-index: 121;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 15px;
	margin-top: 91px;
	position: relative;
}

#pu840
{
	width: 0.01px;
	margin-right: -10000px;
}

#u840
{
	z-index: 157;
	margin-left: 95px;
	position: relative;
}

#u832-6
{
	z-index: 122;
	display: block;
	vertical-align: top;
	margin-top: 21px;
	position: relative;
}

#u836-4
{
	z-index: 143;
	width: 143px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FCFCFC;
	background-color: rgba(0,0,0,0.01);
	border-radius: 100px;
	padding: 8px;
	color: #606972;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 64px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	-pie-background: rgba(0,0,0,0.01);
}

#u836-4:hover
{
	background-color: #F2F2F2;
	background-color: rgba(0,0,0,0.05);
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 25px;
	width: 143px;
	margin: 0px 0px -5px 64px;
	-pie-background: rgba(0,0,0,0.05);
}

#pu838
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 336px;
}

#u838
{
	z-index: 155;
	margin-left: 62px;
	position: relative;
}

#pu843-9
{
	width: 0.01px;
	margin-top: 22px;
}

#u843-9
{
	z-index: 128;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u842-4
{
	z-index: 147;
	width: 143px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FCFCFC;
	background-color: rgba(0,0,0,0.01);
	border-radius: 100px;
	padding: 8px;
	color: #606972;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 65px;
	-pie-background: rgba(0,0,0,0.01);
}

#u842-4:hover
{
	background-color: #F2F2F2;
	background-color: rgba(0,0,0,0.05);
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 25px;
	width: 143px;
	margin: 192px -10000px -1px 0px;
	-pie-background: rgba(0,0,0,0.05);
}

#pu834
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 671px;
}

#u834
{
	z-index: 156;
	margin-left: 90px;
	position: relative;
}

#u833-6
{
	z-index: 137;
	display: block;
	vertical-align: top;
	margin-top: 19px;
	position: relative;
}

#u837-4
{
	z-index: 151;
	width: 143px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FCFCFC;
	background-color: rgba(0,0,0,0.01);
	border-radius: 100px;
	padding: 8px;
	color: #606972;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 65px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	-pie-background: rgba(0,0,0,0.01);
}

#u837-4:hover
{
	background-color: #F2F2F2;
	background-color: rgba(0,0,0,0.05);
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 25px;
	width: 143px;
	margin: 0px 0px -6px 65px;
	-pie-background: rgba(0,0,0,0.05);
}

#u1288
{
	z-index: 187;
	width: 75px;
	height: 113px;
	margin-left: 466px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

.ie #u1288
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u399
{
	z-index: 59;
	height: 8px;
}

#u399-bw
{
	z-index: 59;
	margin-top: -1px;
	margin-bottom: -1px;
	height: 8px;
}

#pu372
{
	width: 0.01px;
	margin-left: -100px;
}

#u372_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 988px;
	left: -100px;
}

#u372_position_content
{
	margin-bottom: -43px;
	padding-top: 39px;
}

#pu374-4
{
	width: 0.01px;
	left: 112px;
	position: relative;
}

#u374-4
{
	z-index: 14;
	width: 140px;
	min-height: 33px;
	margin-right: -10000px;
}

#u375-4
{
	z-index: 18;
	width: 140px;
	min-height: 33px;
	margin-right: -10000px;
	left: 308px;
}

#u482
{
	z-index: 70;
	width: 120px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 452px;
}

#u452-4
{
	z-index: 22;
	width: 140px;
	min-height: 33px;
	margin-right: -10000px;
	left: 724px;
}

#ppu377-4
{
	width: 0.01px;
	left: 118px;
	margin-top: 27px;
	position: relative;
}

#pu377-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u377-4
{
	z-index: 26;
	width: 45px;
	min-height: 18px;
}

#u378-4
{
	z-index: 30;
	width: 81px;
	min-height: 18px;
	margin-top: 19px;
}

#u384-5
{
	z-index: 50;
	width: 215px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 298px;
}

#u383-4
{
	z-index: 46;
	width: 215px;
	min-height: 79px;
	margin-right: -10000px;
	left: 718px;
}

#u379-4
{
	z-index: 34;
	width: 64px;
	min-height: 18px;
	left: 118px;
	margin-top: 5px;
}

#pu459-4
{
	width: 0.01px;
	left: 420px;
	margin-top: 1px;
	position: relative;
}

#u459-4
{
	z-index: 61;
	width: 141px;
	min-height: 17px;
	margin-right: -10000px;
}

#u461
{
	z-index: 69;
	width: 120px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 148px;
}

#u380-4
{
	z-index: 38;
	width: 81px;
	min-height: 18px;
	left: 118px;
	top: -4px;
	margin-bottom: -4px;
}

#pu382-4
{
	width: 0.01px;
	left: 118px;
	margin-top: 15px;
	position: relative;
}

#u382-4
{
	z-index: 42;
	width: 81px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u460-4
{
	z-index: 65;
	width: 269px;
	min-height: 54px;
	margin-right: -10000px;
	left: 302px;
}

#pu488-5
{
	width: 0.01px;
	left: 100px;
	margin-top: 11px;
	position: relative;
}

#u488-5
{
	z-index: 77;
	margin-right: -10000px;
	margin-top: 3px;
}

#u462
{
	z-index: 73;
	margin-right: -10000px;
	left: 341px;
}

#u464
{
	z-index: 74;
	margin-right: -10000px;
	left: 401px;
}

#u466
{
	z-index: 75;
	margin-right: -10000px;
	margin-top: 1px;
	left: 461px;
}

#u468
{
	z-index: 76;
	margin-right: -10000px;
	left: 519px;
}

#u424
{
	z-index: 3;
	width: 1090px;
	left: 49px;
	margin-top: 61px;
}

#u373
{
	z-index: 4;
	width: 1090px;
	padding-bottom: 45px;
	margin-right: -10000px;
}

#u390
{
	z-index: 5;
	width: 939px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 76px;
}

#u392-4
{
	z-index: 6;
	width: 696px;
	min-height: 16px;
	margin-right: -10000px;
}

#u391-4
{
	z-index: 10;
	width: 249px;
	min-height: 26px;
	margin-right: -10000px;
	left: 690px;
}

#u372,#u372-bw
{
	z-index: 2;
	min-height: 480px;
}

#u385-4
{
	z-index: 55;
	width: 215px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 137px;
	left: 416px;
}

#u450
{
	z-index: 60;
	width: 252px;
	min-height: 208px;
	margin-right: -10000px;
	margin-top: 158px;
	left: 836px;
}

#u484
{
	z-index: 71;
	width: 120px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 228px;
}

#u483
{
	z-index: 72;
	width: 120px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 968px;
}

body
{
	position: relative;
	min-width: 988px;
}

#page .verticalspacer
{
	clear: both;
}

