.version.how_it_works /* version checker */
{
	color: #00001A;
	background-color: #565ED4;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 988px;
	min-height: 690px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#u1475
{
	z-index: 186;
	height: 62px;
	-pie-box-shadow: none;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.38);
	background-color: #FFFFFF;
	opacity: 0.81;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
	filter: alpha(opacity=81);
	position: fixed;
	top: 0px;
}

#u1475-bw
{
	z-index: 186;
}

#u1553
{
	z-index: 82;
	min-height: 242px;
	padding-bottom: 11px;
	background: transparent url("../images/ero-flower.jpg") no-repeat center center;
	background-size: cover;
}

#u1308-4
{
	z-index: 86;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
	left: 802px;
}

#u1553-bw
{
	z-index: 82;
	min-height: 242px;
}

#u1476
{
	z-index: 187;
	width: 1091px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -546px;
}

#u1487
{
	z-index: 188;
	width: 152px;
	background-color: transparent;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: -546px;
}

#buttonu1483
{
	z-index: 190;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#u1484
{
	z-index: 192;
	height: 18px;
	width: 43px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 52px;
	background: url("../images/u1484.png") no-repeat 0px 0px;
}

#buttonu1483:hover #u1484
{
	background: url("../images/u1484-r.png") no-repeat 0px 0px;
}

#buttonu1483.ButtonSelected #u1484
{
	background: url("../images/u1484-a.png") no-repeat 0px 0px;
}

#buttonu1481
{
	z-index: 195;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 507px;
}

#u1482
{
	z-index: 197;
	height: 18px;
	width: 81px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 34px;
	background: url("../images/u1482.png") no-repeat 0px 0px;
}

#buttonu1481:hover #u1482
{
	background: url("../images/u1482-r.png") no-repeat 0px 0px;
}

#buttonu1481.ButtonSelected #u1482
{
	background: url("../images/u1482-a.png") no-repeat 0px 0px;
}

#buttonu1485
{
	z-index: 200;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 653px;
}

#u1486
{
	z-index: 202;
	height: 18px;
	width: 84px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 34px;
	background: url("../images/u1486.png") no-repeat 0px 0px;
}

#buttonu1485:hover #u1486
{
	background: url("../images/u1486-r.png") no-repeat 0px 0px;
}

#buttonu1485.ButtonSelected #u1486
{
	background: url("../images/u1486-a.png") no-repeat 0px 0px;
}

#buttonu1477
{
	z-index: 205;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 799px;
}

#buttonu1477.ButtonSelected
{
	background-color: transparent;
	width: 146px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1478-4
{
	z-index: 206;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 17px;
}

#buttonu1479
{
	z-index: 210;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 945px;
}

#buttonu1483:hover,#buttonu1481:hover,#buttonu1485:hover,#buttonu1479:hover
{
	background-color: #942A8F;
	border-radius: 0px;
	width: 146px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1480
{
	z-index: 212;
	height: 18px;
	width: 96px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 28px;
	background: url("../images/u1480.png") no-repeat 0px 0px;
}

#buttonu1479:hover #u1480
{
	background: url("../images/u1480-r.png") no-repeat 0px 0px;
}

#buttonu1479.ButtonSelected #u1480
{
	background: url("../images/u1480-a.png") no-repeat 0px 0px;
}

#u1344-4
{
	z-index: 133;
	display: block;
	vertical-align: top;
	margin-left: 225px;
	margin-top: 83px;
	position: relative;
}

#pu1342-17
{
	width: 0.01px;
	margin-top: 13px;
}

#u1342-17
{
	z-index: 116;
	width: 988px;
	min-height: 220px;
	background-color: transparent;
	color: #662D91;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1364
{
	z-index: 143;
	width: 187px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 401px;
}

#pu1370
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-left: -100px;
	margin-top: 73px;
}

#u1370
{
	z-index: 145;
	height: 7px;
	background-color: #00AEA8;
}

#u1370-bw
{
	z-index: 145;
	height: 7px;
}

#pu1384
{
	width: 0.01px;
	margin-top: -7px;
}

#u1384
{
	z-index: 147;
	min-height: 361px;
	padding-bottom: 130px;
	background: transparent url("../images/map-2.jpg") no-repeat center center;
	background-size: cover;
}

#u1553_align_to_page,#u1384_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 988px;
	position: relative;
	left: -100px;
}

#pu1597
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 176px;
	margin-left: 543px;
}

#u1597
{
	z-index: 219;
	width: 99px;
	background-color: transparent;
	position: relative;
}

#u1594
{
	z-index: 217;
	width: 122px;
	background-color: transparent;
	margin-left: 44px;
	margin-top: 29px;
	position: relative;
}

#u1588
{
	z-index: 215;
	width: 122px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 836px;
}

#u1384-bw
{
	z-index: 147;
	min-height: 361px;
}

#pamphletu1603
{
	z-index: 221;
	width: 0.01px;
	height: 352px;
	padding-bottom: 129px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 184px;
}

#u1610
{
	position: absolute;
	width: 381px;
	top: 24px;
}

#u1610popup
{
	z-index: 222;
}

#u1611
{
	z-index: 223;
	width: 379px;
	height: 172px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	margin-top: -24px;
	left: 284px;
}

#u1612-9
{
	z-index: 224;
	width: 340px;
	min-height: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 19px;
}

#u1614
{
	z-index: 229;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1614_img
{
	padding-bottom: 2px;
}

#u1612-7
{
	line-height: 19px;
	color: #303030;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u1621
{
	z-index: 236;
	width: 379px;
	height: 172px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 0px 15px 15px 15px ;
	position: relative;
	margin-right: -10000px;
}

#u1622-7
{
	z-index: 237;
	width: 340px;
	min-height: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 19px;
}

#u1612-5,#u1622-3
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u1613,#u1623
{
	float: left;
	margin-right: 17px;
}

#u1624
{
	z-index: 242;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1624_img
{
	padding-right: 33px;
	padding-bottom: 2px;
}

#u1612-2,#u1612-3,#u1622-2
{
	color: #C1272D;
	font-family: open-sans, sans-serif;
	font-weight: 800;
}

#u1622-5
{
	line-height: 20px;
	color: #999999;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u1616
{
	z-index: 247;
	width: 379px;
	height: 216px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 15px 15px 15px 0px ;
	margin-bottom: -284px;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 499px;
}

#u1617-9
{
	z-index: 248;
	width: 340px;
	min-height: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 19px;
}

#u1617
{
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u1617-4
{
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1618
{
	float: left;
	margin-top: 4px;
	margin-bottom: -4px;
	margin-right: 17px;
}

#u1619
{
	z-index: 254;
	width: 121px;
	background-color: transparent;
}

#u1619_img
{
	padding-bottom: 3px;
}

#u1617-3
{
	font-size: 18px;
	color: #600000;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	line-height: 22px;
}

#u1617-6
{
	line-height: 18px;
	color: #4F4F4F;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u1617-7
{
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1604
{
	z-index: 260;
	width: 343px;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 393px;
}

#u1605
{
	position: absolute;
	width: 47px;
	height: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	left: 296px;
}

.ie #u1605
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1605:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 47px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1605:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1605:active
{
	background-color: transparent;
	width: 47px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1605:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1605.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 10px;
	width: 47px;
	height: 62px;
	min-height: 0px;
	margin: 0px;
}

#u1606
{
	position: absolute;
	width: 38px;
	height: 70px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	top: 61px;
}

.ie #u1605.PamphletThumbSelected,.ie #u1606
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1606:hover
{
	background-color: transparent;
	width: 38px;
	height: 70px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1606:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1606:active
{
	background-color: transparent;
	width: 38px;
	height: 70px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1606:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1606.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	width: 38px;
	height: 70px;
	min-height: 0px;
	margin: 0px;
}

#u1607
{
	position: absolute;
	width: 44px;
	height: 71px;
	background-color: transparent;
	border-radius: 10px;
	top: 170px;
	left: 47px;
}

.ie #u1606.PamphletThumbSelected,.ie #u1607
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1607:hover
{
	border-color: #000000;
	background-color: transparent;
	width: 44px;
	height: 71px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1607:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1607:active
{
	border-color: #000000;
	background-color: transparent;
	width: 44px;
	height: 71px;
	min-height: 0px;
	margin: 0px;
}

.ie #u1607:active
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1607.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	width: 44px;
	height: 71px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1371
{
	z-index: 146;
	height: 7px;
	background-color: #D84286;
}

#u1371-bw
{
	z-index: 146;
	height: 7px;
}

#u1354-4
{
	z-index: 137;
	display: block;
	vertical-align: top;
	margin-left: 224px;
	margin-top: 62px;
	position: relative;
}

#pu1341-26
{
	width: 0.01px;
	margin-left: -10px;
	margin-top: 19px;
}

#u1341-26
{
	z-index: 90;
	width: 988px;
	min-height: 510px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1341-2,#u1341-4,#u1341-5,#u1341-6,#u1341-7,#u1341-8,#u1341-9,#u1341-10,#u1341-11,#u1341-13,#u1341-14,#u1341-16,#u1341-18,#u1341-19,#u1341-21,#u1341-23
{
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	color: #662D91;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u1358
{
	z-index: 141;
	width: 233px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 357px;
}

#pu1291-3
{
	width: 0.01px;
	margin-left: -81px;
	margin-top: 67px;
}

#u1291-3
{
	z-index: 83;
	width: 958px;
	min-height: 112px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 229px;
}

#u1391
{
	z-index: 148;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#pu1393
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1393
{
	z-index: 184;
	margin-left: 95px;
	position: relative;
}

#u1397-6
{
	z-index: 149;
	display: block;
	vertical-align: top;
	margin-top: 21px;
	position: relative;
}

#u1403-4
{
	z-index: 170;
	width: 143px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FCFCFC;
	background-color: rgba(0,0,0,0.01);
	border-radius: 100px;
	padding: 8px;
	color: #606972;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 64px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	-pie-background: rgba(0,0,0,0.01);
}

#pu1400
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 336px;
}

#u1400
{
	z-index: 182;
	margin-left: 62px;
	position: relative;
}

#pu1399-9
{
	width: 0.01px;
	margin-top: 22px;
}

#u1399-9
{
	z-index: 155;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1392-4
{
	z-index: 174;
	width: 143px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FCFCFC;
	background-color: rgba(0,0,0,0.01);
	border-radius: 100px;
	padding: 8px;
	color: #606972;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 65px;
	-pie-background: rgba(0,0,0,0.01);
}

#u1392-4:hover
{
	background-color: #F2F2F2;
	background-color: rgba(0,0,0,0.05);
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 25px;
	width: 143px;
	margin: 192px -10000px -1px 0px;
	-pie-background: rgba(0,0,0,0.05);
}

#pu1395
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 671px;
}

#u1395
{
	z-index: 183;
	margin-left: 90px;
	position: relative;
}

#u1398-6
{
	z-index: 164;
	display: block;
	vertical-align: top;
	margin-top: 19px;
	position: relative;
}

#u1402-4
{
	z-index: 178;
	width: 143px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FCFCFC;
	background-color: rgba(0,0,0,0.01);
	border-radius: 100px;
	padding: 8px;
	color: #606972;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 65px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	-pie-background: rgba(0,0,0,0.01);
}

#u1402-4:hover
{
	background-color: #F2F2F2;
	background-color: rgba(0,0,0,0.05);
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 25px;
	width: 143px;
	margin: 0px 0px -6px 65px;
	-pie-background: rgba(0,0,0,0.05);
}

#u1407
{
	z-index: 185;
	width: 44px;
	height: 238px;
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
}

.ie #u1607.PamphletThumbSelected,.ie #u1407
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u399,#u399-bw
{
	z-index: 59;
	height: 8px;
}

#pu372
{
	width: 0.01px;
	margin-left: -100px;
}

#u372_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 988px;
	left: -100px;
}

#u372_position_content
{
	margin-bottom: -43px;
	padding-top: 39px;
}

#pu374-4
{
	width: 0.01px;
	left: 112px;
	position: relative;
}

#u374-4
{
	z-index: 14;
	width: 140px;
	min-height: 33px;
	margin-right: -10000px;
}

#u375-4
{
	z-index: 18;
	width: 140px;
	min-height: 33px;
	margin-right: -10000px;
	left: 308px;
}

#u482
{
	z-index: 70;
	width: 120px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 452px;
}

#u452-4
{
	z-index: 22;
	width: 140px;
	min-height: 33px;
	margin-right: -10000px;
	left: 724px;
}

#ppu377-4
{
	width: 0.01px;
	left: 118px;
	margin-top: 27px;
	position: relative;
}

#pu377-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u377-4
{
	z-index: 26;
	width: 45px;
	min-height: 18px;
}

#u378-4
{
	z-index: 30;
	width: 81px;
	min-height: 18px;
	margin-top: 19px;
}

#u384-5
{
	z-index: 50;
	width: 215px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 298px;
}

#u383-4
{
	z-index: 46;
	width: 215px;
	min-height: 79px;
	margin-right: -10000px;
	left: 718px;
}

#u379-4
{
	z-index: 34;
	width: 64px;
	min-height: 18px;
	left: 118px;
	margin-top: 5px;
}

#pu459-4
{
	width: 0.01px;
	left: 420px;
	margin-top: 1px;
	position: relative;
}

#u459-4
{
	z-index: 61;
	width: 141px;
	min-height: 17px;
	margin-right: -10000px;
}

#u461
{
	z-index: 69;
	width: 120px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 148px;
}

#u380-4
{
	z-index: 38;
	width: 81px;
	min-height: 18px;
	left: 118px;
	top: -4px;
	margin-bottom: -4px;
}

#pu382-4
{
	width: 0.01px;
	left: 118px;
	margin-top: 15px;
	position: relative;
}

#u382-4
{
	z-index: 42;
	width: 81px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u460-4
{
	z-index: 65;
	width: 269px;
	min-height: 54px;
	margin-right: -10000px;
	left: 302px;
}

#pu488-5
{
	width: 0.01px;
	left: 100px;
	margin-top: 11px;
	position: relative;
}

#u488-5
{
	z-index: 77;
	margin-right: -10000px;
	margin-top: 3px;
}

#u462
{
	z-index: 73;
	margin-right: -10000px;
	left: 341px;
}

#u464
{
	z-index: 74;
	margin-right: -10000px;
	left: 401px;
}

#u466
{
	z-index: 75;
	margin-right: -10000px;
	margin-top: 1px;
	left: 461px;
}

#u468
{
	z-index: 76;
	margin-right: -10000px;
	left: 519px;
}

#u424
{
	z-index: 3;
	width: 1090px;
	left: 49px;
	margin-top: 61px;
}

#u373
{
	z-index: 4;
	width: 1090px;
	padding-bottom: 45px;
	margin-right: -10000px;
}

#u390
{
	z-index: 5;
	width: 939px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 76px;
}

#u392-4
{
	z-index: 6;
	width: 696px;
	min-height: 16px;
	margin-right: -10000px;
}

#u391-4
{
	z-index: 10;
	width: 249px;
	min-height: 26px;
	margin-right: -10000px;
	left: 690px;
}

#u372,#u372-bw
{
	z-index: 2;
	min-height: 480px;
}

#u385-4
{
	z-index: 55;
	width: 215px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 137px;
	left: 416px;
}

#u450
{
	z-index: 60;
	width: 252px;
	min-height: 208px;
	margin-right: -10000px;
	margin-top: 158px;
	left: 836px;
}

#u484
{
	z-index: 71;
	width: 120px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 228px;
}

#u483
{
	z-index: 72;
	width: 120px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 968px;
}

body
{
	position: relative;
	min-width: 988px;
}

#page .verticalspacer
{
	clear: both;
}

