#u374-4,#u375-4,#u452-4,#u377-4,#u459-4
{
	font-family: open-sans-n3, sans-serif;
}

#u378-4,#u384-5,#u383-4,#u379-4,#u380-4,#u382-4,#u385-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1612-2,#u1612-3,#u1622-2,#u1617-3
{
	font-family: open-sans-n6, sans-serif;
}

#u1612-7,#u1622-5,#u1617-6
{
	font-family: open-sans-n4, sans-serif;
}

#u1342-17,#u1341-2,#u1341-4,#u1341-5,#u1341-6,#u1341-7,#u1341-8,#u1341-9,#u1341-10,#u1341-11,#u1341-13,#u1341-14,#u1341-16,#u1341-18,#u1341-19,#u1341-21,#u1341-23,#u1403-4,#u1392-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1402-4
{
	font-family: open-sans-n3, sans-serif;
}

