#u374-4,#u375-4,#u452-4,#u377-4,#u459-4
{
	font-family: open-sans-n3, sans-serif;
}

#u378-4,#u384-5,#u383-4,#u379-4,#u380-4,#u382-4,#u385-4
{
	font-family: open-sans-n4, sans-serif;
}

#u246-6,#u362-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1557-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1561-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1559-5,#u349-4,#u706-4
{
	font-family: open-sans-n3, sans-serif;
}

#u705-4
{
	font-family: open-sans-n3, sans-serif;
}

#u704-4
{
	font-family: open-sans-n3, sans-serif;
}

