.version.index /* version checker */
{
	color: #0000F2;
	background-color: #B2D1F9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 988px;
	min-height: 464px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#u267
{
	z-index: 276;
	height: 62px;
	-pie-box-shadow: none;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.38);
	background-color: #FFFFFF;
	opacity: 0.81;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
	filter: alpha(opacity=81);
	position: fixed;
	top: 0px;
}

#u267-bw
{
	z-index: 276;
}

#pu1533
{
	width: 0.01px;
	margin-left: -195px;
}

#u1533
{
	z-index: 83;
	min-height: 704px;
	background: transparent url("../images/ero-flower.jpg") no-repeat center center;
	background-size: cover;
}

#u1533_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 988px;
	position: relative;
	left: -100px;
	padding-top: 253px;
	padding-bottom: 310px;
}

#u248
{
	z-index: 242;
	width: 284px;
	height: 7px;
	background-color: #D84286;
	left: 688px;
	position: relative;
}

#u247-6
{
	z-index: 216;
	display: block;
	vertical-align: top;
	left: 690px;
	margin-top: 17px;
	position: relative;
}

#u1533-bw
{
	z-index: 83;
	min-height: 704px;
}

#u1015
{
	z-index: 272;
	width: 931px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
}

#u1423
{
	z-index: 275;
	width: 154px;
	height: 62px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 511px;
}

.ie #u1423
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1423:hover
{
	background-color: #FFE0E2;
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
	width: 154px;
	height: 62px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.ie #u1423:hover
{
	opacity: 0.54;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
	filter: alpha(opacity=54);
}

#pbuttonu1563
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 454px;
	margin-left: 783px;
}

#buttonu1563
{
	z-index: 318;
	width: 231px;
	height: 49px;
	border-color: #787878;
	background-color: #93278F;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu1563:hover #buttonu1563
{
	width: 230px;
	height: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #D84286;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u1565
{
	z-index: 320;
	height: 23px;
	width: 139px;
	vertical-align: top;
	background: url("../images/u1565.png") no-repeat 0px 0px;
}

#pbuttonu1563:hover #u1565
{
	position: relative;
	width: 139px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 50px;
	background: url("../images/u1565-r.png") no-repeat 0px 0px;
}

#pbuttonu1563 #u1565
{
	position: relative;
	width: 139px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 51px;
}

#u1437
{
	z-index: 277;
	width: 1091px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -550px;
}

#u1030
{
	z-index: 278;
	width: 152px;
	background-color: transparent;
	position: fixed;
	top: 7px;
	left: 50%;
	margin-left: -550px;
}

#buttonu1425
{
	z-index: 280;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#buttonu1425.ButtonSelected
{
	background-color: transparent;
	width: 146px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u260-4
{
	z-index: 281;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 52px;
}

#buttonu1429
{
	z-index: 285;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 507px;
}

#u1430
{
	z-index: 287;
	height: 18px;
	width: 81px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 34px;
	background: url("../images/u1430.png") no-repeat 0px 0px;
}

#buttonu1429:hover #u1430
{
	background: url("../images/u1430-r.png") no-repeat 0px 0px;
}

#buttonu1429.ButtonSelected #u1430
{
	background: url("../images/u1430-a.png") no-repeat 0px 0px;
}

#buttonu1431
{
	z-index: 290;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 653px;
}

#u1432
{
	z-index: 292;
	height: 18px;
	width: 84px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 34px;
	background: url("../images/u1432.png") no-repeat 0px 0px;
}

#buttonu1431:hover #u1432
{
	background: url("../images/u1432-r.png") no-repeat 0px 0px;
}

#buttonu1431.ButtonSelected #u1432
{
	background: url("../images/u1432-a.png") no-repeat 0px 0px;
}

#buttonu1433
{
	z-index: 295;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 799px;
}

#u1434
{
	z-index: 297;
	height: 18px;
	width: 118px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 17px;
	background: url("../images/u1434.png") no-repeat 0px 0px;
}

#buttonu1433:hover #u1434
{
	background: url("../images/u1434-r.png") no-repeat 0px 0px;
}

#buttonu1433.ButtonSelected #u1434
{
	background: url("../images/u1434-a.png") no-repeat 0px 0px;
}

#buttonu1435
{
	z-index: 300;
	width: 146px;
	border-color: #787878;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	left: 945px;
}

#buttonu1429:hover,#buttonu1431:hover,#buttonu1433:hover,#buttonu1435:hover
{
	background-color: #942A8F;
	border-radius: 0px;
	width: 146px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1436
{
	z-index: 302;
	height: 18px;
	width: 96px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 28px;
	background: url("../images/u1436.png") no-repeat 0px 0px;
}

#buttonu1435:hover #u1436
{
	background: url("../images/u1436-r.png") no-repeat 0px 0px;
}

#buttonu1435.ButtonSelected #u1436
{
	background: url("../images/u1436-a.png") no-repeat 0px 0px;
}

#u292-4
{
	z-index: 202;
	display: block;
	vertical-align: top;
	margin-left: 332px;
	margin-top: 47px;
	position: relative;
}

#u246-6
{
	z-index: 210;
	width: 988px;
	min-height: 177px;
	background-color: transparent;
	color: #662D91;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: -1px;
	margin-top: 44px;
	position: relative;
}

#u362-4
{
	z-index: 268;
	width: 283px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FCFCFC;
	background-color: rgba(0,0,0,0.01);
	border-radius: 100px;
	padding: 8px;
	color: #606972;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 344px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
	-pie-background: rgba(0,0,0,0.01);
}

#u362-4:hover
{
	background-color: #F7F7F7;
	background-color: rgba(0,0,0,0.03);
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 25px;
	width: 283px;
	margin: 0px 0px -8px 344px;
	-pie-background: rgba(0,0,0,0.03);
}

#pu1537
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 96px;
}

#u1537
{
	z-index: 82;
	height: 406px;
	background: transparent url("../images/students_at_lupani_conservation_primary_school_in_zambia_9426431014_o.jpg") no-repeat left top;
	background-size: cover;
}

#u1537-bw
{
	z-index: 82;
	height: 406px;
}

#u249
{
	z-index: 226;
	height: 406px;
	background-color: #D84286;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
}

#u249-bw
{
	z-index: 226;
	height: 406px;
}

#u259-4
{
	z-index: 227;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 242px;
}

#pu310-4
{
	width: 0.01px;
	margin-left: -104px;
	margin-top: 102px;
}

#u310-4
{
	z-index: 222;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u252
{
	z-index: 231;
	width: 218px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 52px;
}

#u265
{
	z-index: 233;
	width: 188px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 292px;
}

#u255
{
	z-index: 235;
	width: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 508px;
}

#u250
{
	z-index: 237;
	width: 208px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 732px;
}

#u317
{
	z-index: 239;
	width: 179px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 972px;
}

#pu347
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 83px;
}

#u347
{
	z-index: 201;
	min-height: 506.7999999999993px;
	background-color: #D84286;
	padding-bottom: 0px;
}

#u347_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 988px;
	position: relative;
	left: -100px;
}

#u347_position_content
{
	padding-top: 102px;
	padding-bottom: 25px;
}

#u350-4
{
	z-index: 252;
	display: block;
	vertical-align: top;
	left: -5px;
	position: relative;
}

#u351-4
{
	z-index: 256;
	display: block;
	vertical-align: top;
	left: 16px;
	margin-top: 101px;
	position: relative;
}

#pu1559-5
{
	width: 0.01px;
	left: 100px;
	position: relative;
}

#u1559-5
{
	z-index: 247;
	width: 420px;
	min-height: 48px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 21px;
	text-align: center;
	line-height: 25px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1559-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1559
{
	line-height: 25px;
}

#u1559-2
{
	font-size: 27px;
	line-height: 32px;
}

#u349-4
{
	z-index: 243;
	width: 420px;
	min-height: 48px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 21px;
	text-align: center;
	line-height: 25px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 564px;
}

#pbuttonu1555
{
	width: 0.01px;
	left: 193px;
	margin-top: 25px;
	position: relative;
}

#buttonu1555
{
	z-index: 305;
	width: 229px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1557-4
{
	z-index: 306;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 67px;
}

#buttonu1555:hover #u1557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 15px -10000px 0px 0px;
}

#buttonu1555:hover #u1557-4 p
{
	color: #D84286;
	visibility: inherit;
}

#u1556
{
	z-index: 310;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 50px;
}

#buttonu1555:hover #u1556
{
	background-color: #D84286;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#buttonu1560
{
	z-index: 311;
	width: 229px;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 580px;
}

#buttonu1555:hover,#buttonu1560:hover
{
	background-color: #FFFFFF;
	width: 229px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u1561-4
{
	z-index: 312;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 67px;
}

#buttonu1555.ButtonSelected #u1557-4,#buttonu1560:hover #u1561-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 15px -10000px 0px 0px;
}

#buttonu1560.ButtonSelected #u1561-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 15px -10000px 0px 0px;
}

#buttonu1560:hover #u1561-4 p
{
	color: #D84286;
	visibility: inherit;
}

#buttonu1555.ButtonSelected #u1557-4 p,#buttonu1560.ButtonSelected #u1561-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1562
{
	z-index: 316;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 50px;
}

#buttonu1560:hover #u1562
{
	background-color: #D84286;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#buttonu1555.ButtonSelected #u1556,#buttonu1560.ButtonSelected #u1562
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#u347-bw
{
	z-index: 201;
	min-height: 506.7999999999993px;
	margin-top: 4px;
}

#u689
{
	z-index: 241;
	height: 7px;
	background-color: #00AEA8;
}

#u689-bw
{
	z-index: 241;
	height: 7px;
}

#u352-4
{
	z-index: 260;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 582px;
}

#u353
{
	z-index: 264;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 179px;
}

#u355
{
	z-index: 266;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 747px;
}

#u692-4
{
	z-index: 206;
	display: block;
	vertical-align: top;
	left: -100px;
	margin-top: 112px;
	position: relative;
}

#slideshowu492
{
	z-index: 84;
	width: 0.01px;
	height: 510px;
	left: -128px;
	margin-top: 31px;
	position: relative;
}

#u509
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	top: 63px;
	left: 28px;
	-pie-background: rgba(0,0,0,0.9);
}

#u509popup
{
	z-index: 85;
}

#u514
{
	z-index: 86;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u565
{
	z-index: 88;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u565_img
{
	padding-top: 60px;
	padding-bottom: 60px;
}

#u646
{
	z-index: 90;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u646_img
{
	padding-top: 45px;
	padding-bottom: 45px;
}

#u655
{
	z-index: 92;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u514_img,#u655_img
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#u574
{
	z-index: 94;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u574_img
{
	padding-top: 33px;
	padding-bottom: 33px;
}

#u583
{
	z-index: 96;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u583_img
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#u592
{
	z-index: 98;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u592_img
{
	padding-top: 21px;
	padding-bottom: 21px;
}

#u601
{
	z-index: 100;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u601_img
{
	padding-top: 30px;
	padding-bottom: 30px;
}

#u499
{
	position: absolute;
	width: 1244px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 74px;
}

#u499popup
{
	z-index: 102;
}

#u500
{
	z-index: 103;
	width: 292px;
	height: 213px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u500_img
{
	margin-left: -14px;
	margin-right: -13px;
}

#u568
{
	z-index: 105;
	width: 292px;
	height: 213px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 325px;
}

#u649
{
	z-index: 107;
	width: 292px;
	height: 213px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 627px;
}

#u658
{
	z-index: 109;
	width: 292px;
	height: 213px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 929px;
}

#u500:hover,#u568:hover,#u649:hover,#u658:hover
{
	width: 292px;
	height: 213px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u658_img
{
	margin-left: -14px;
	margin-right: -14px;
}

#u577
{
	z-index: 111;
	width: 292px;
	height: 213px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 23px;
}

#u577_img
{
	margin-left: -28px;
	margin-right: -28px;
}

#u586
{
	z-index: 113;
	width: 292px;
	height: 213px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 325px;
}

#u586_img
{
	margin-left: -32px;
	margin-right: -31px;
}

#u595
{
	z-index: 115;
	width: 292px;
	height: 213px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 627px;
}

#u595_img
{
	margin-left: -15px;
	margin-right: -14px;
}

#u604
{
	z-index: 117;
	width: 292px;
	height: 213px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 929px;
}

#u577:hover,#u586:hover,#u595:hover,#u604:hover
{
	width: 292px;
	height: 213px;
	min-height: 0px;
	margin: 223px -10000px 0px 0px;
}

#u500_clip,#u658_clip,#u577_clip,#u586_clip,#u595_clip,#u604_clip
{
	overflow: hidden;
	width: 292px;
	height: 213px;
}

#u604_img
{
	margin-left: -25px;
	margin-right: -24px;
}

#u493
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 455px;
	left: 50px;
}

#u493popup
{
	z-index: 119;
}

#u496-4
{
	z-index: 120;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u571-4
{
	z-index: 124;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u652-4
{
	z-index: 128;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u661-4
{
	z-index: 132;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u580-4
{
	z-index: 136;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u589-4
{
	z-index: 140;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u598-4
{
	z-index: 144;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u607-4
{
	z-index: 148;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u498-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 455px;
	left: 400px;
}

#u498-4popup
{
	z-index: 152;
}

#u506-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 455px;
	left: 500px;
}

#u506-4popup
{
	z-index: 156;
}

#u517-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 455px;
	left: 430px;
}

#u517-4popup
{
	z-index: 160;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u694
{
	z-index: 164;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 14px;
	top: -15px;
	margin-bottom: -15px;
	position: relative;
}

#pu698
{
	width: 0.01px;
	margin-right: -10000px;
}

#u698
{
	z-index: 200;
	margin-left: 95px;
	position: relative;
}

#u700-6
{
	z-index: 165;
	display: block;
	vertical-align: top;
	margin-top: 21px;
	position: relative;
}

#u706-4
{
	z-index: 186;
	width: 143px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FCFCFC;
	background-color: rgba(0,0,0,0.01);
	border-radius: 100px;
	padding: 8px;
	color: #606972;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 64px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	-pie-background: rgba(0,0,0,0.01);
}

#u706-4:hover
{
	background-color: #F2F2F2;
	background-color: rgba(0,0,0,0.05);
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 25px;
	width: 143px;
	margin: 0px 0px -5px 64px;
	-pie-background: rgba(0,0,0,0.05);
}

#pu695
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 336px;
}

#u695
{
	z-index: 198;
	margin-left: 62px;
	position: relative;
}

#pu697-9
{
	width: 0.01px;
	margin-top: 22px;
}

#u697-9
{
	z-index: 171;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u705-4
{
	z-index: 190;
	width: 143px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FCFCFC;
	background-color: rgba(0,0,0,0.01);
	border-radius: 100px;
	padding: 8px;
	color: #606972;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 65px;
	-pie-background: rgba(0,0,0,0.01);
}

#u705-4:hover
{
	background-color: #F2F2F2;
	background-color: rgba(0,0,0,0.05);
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 25px;
	width: 143px;
	margin: 192px -10000px -1px 0px;
	-pie-background: rgba(0,0,0,0.05);
}

#pu701
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 671px;
}

#u701
{
	z-index: 199;
	margin-left: 90px;
	position: relative;
}

#u703-6
{
	z-index: 180;
	display: block;
	vertical-align: top;
	margin-top: 19px;
	position: relative;
}

#u704-4
{
	z-index: 194;
	width: 143px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #BAC2C7;
	background-color: #FCFCFC;
	background-color: rgba(0,0,0,0.01);
	border-radius: 100px;
	padding: 8px;
	color: #606972;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 65px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	-pie-background: rgba(0,0,0,0.01);
}

#u704-4:hover
{
	background-color: #F2F2F2;
	background-color: rgba(0,0,0,0.05);
	padding-top: 8px;
	padding-bottom: 8px;
	min-height: 25px;
	width: 143px;
	margin: 0px 0px -6px 65px;
	-pie-background: rgba(0,0,0,0.05);
}

#u729
{
	z-index: 274;
	width: 23px;
	height: 23px;
	margin-left: 1020px;
	margin-top: 38px;
	position: relative;
}

.ie #u729
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u399,#u399-bw
{
	z-index: 59;
	height: 8px;
}

#pu372
{
	width: 0.01px;
	margin-left: -100px;
}

#u372_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 988px;
	left: -100px;
}

#u372_position_content
{
	margin-bottom: -43px;
	padding-top: 39px;
}

#pu374-4
{
	width: 0.01px;
	left: 112px;
	position: relative;
}

#u374-4
{
	z-index: 14;
	width: 140px;
	min-height: 33px;
	margin-right: -10000px;
}

#u375-4
{
	z-index: 18;
	width: 140px;
	min-height: 33px;
	margin-right: -10000px;
	left: 308px;
}

#u482
{
	z-index: 70;
	width: 120px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 452px;
}

#u452-4
{
	z-index: 22;
	width: 140px;
	min-height: 33px;
	margin-right: -10000px;
	left: 724px;
}

#ppu377-4
{
	width: 0.01px;
	left: 118px;
	margin-top: 27px;
	position: relative;
}

#pu377-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 9px;
}

#u377-4
{
	z-index: 26;
	width: 45px;
	min-height: 18px;
}

#u378-4
{
	z-index: 30;
	width: 81px;
	min-height: 18px;
	margin-top: 19px;
}

#u384-5
{
	z-index: 50;
	width: 215px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 298px;
}

#u383-4
{
	z-index: 46;
	width: 215px;
	min-height: 79px;
	margin-right: -10000px;
	left: 718px;
}

#u379-4
{
	z-index: 34;
	width: 64px;
	min-height: 18px;
	left: 118px;
	margin-top: 5px;
}

#pu459-4
{
	width: 0.01px;
	left: 420px;
	margin-top: 1px;
	position: relative;
}

#u459-4
{
	z-index: 61;
	width: 141px;
	min-height: 17px;
	margin-right: -10000px;
}

#u461
{
	z-index: 69;
	width: 120px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 148px;
}

#u380-4
{
	z-index: 38;
	width: 81px;
	min-height: 18px;
	left: 118px;
	top: -4px;
	margin-bottom: -4px;
}

#pu382-4
{
	width: 0.01px;
	left: 118px;
	margin-top: 15px;
	position: relative;
}

#u382-4
{
	z-index: 42;
	width: 81px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u460-4
{
	z-index: 65;
	width: 269px;
	min-height: 54px;
	margin-right: -10000px;
	left: 302px;
}

#pu488-5
{
	width: 0.01px;
	left: 100px;
	margin-top: 11px;
	position: relative;
}

#u488-5
{
	z-index: 77;
	margin-right: -10000px;
	margin-top: 3px;
}

#u462
{
	z-index: 73;
	margin-right: -10000px;
	left: 341px;
}

#u464
{
	z-index: 74;
	margin-right: -10000px;
	left: 401px;
}

#u466
{
	z-index: 75;
	margin-right: -10000px;
	margin-top: 1px;
	left: 461px;
}

#u468
{
	z-index: 76;
	margin-right: -10000px;
	left: 519px;
}

#u424
{
	z-index: 3;
	width: 1090px;
	left: 49px;
	margin-top: 61px;
}

#u373
{
	z-index: 4;
	width: 1090px;
	padding-bottom: 45px;
	margin-right: -10000px;
}

#u390
{
	z-index: 5;
	width: 939px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 76px;
}

#u392-4
{
	z-index: 6;
	width: 696px;
	min-height: 16px;
	margin-right: -10000px;
}

#u391-4
{
	z-index: 10;
	width: 249px;
	min-height: 26px;
	margin-right: -10000px;
	left: 690px;
}

#u372,#u372-bw
{
	z-index: 2;
	min-height: 480px;
}

#u385-4
{
	z-index: 55;
	width: 215px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 136px;
	left: 416px;
}

#u450
{
	z-index: 60;
	width: 252px;
	min-height: 208px;
	margin-right: -10000px;
	margin-top: 157px;
	left: 836px;
}

#u484
{
	z-index: 71;
	width: 120px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 228px;
}

#u483
{
	z-index: 72;
	width: 120px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 968px;
}

body
{
	position: relative;
	min-width: 988px;
}

#page .verticalspacer
{
	clear: both;
}

