#vending{
	background-image: url(/assets/images/hero-image-vending-machine.png);
	height: auto;
}

.grid.vending{
	height: 630px;
	padding: 50px;
	background-image: url(/assets/images/ero-flower.jpg) ;
	background-repeat: no-repeat;
	/*background-position: center; */
	background-size: 100%;

}
.label.cost{
	margin-top: 200px !important;
	margin-left: 50px !important;
	width: 350px;
}
.header.cost{
	margin-top: 30px !important;
	margin-left: 50px !important;
	margin-bottom: 0px !important;
	font-size: 37px !important;
    font-family: open-sans, sans-serif !important;
    font-weight: 700 !important;
    line-height:43px !important;
}

.header.small{
	margin-top: 0px !important;
	margin-left: 50px !important;
	font-size: 27px !important;
    line-height: 31px !important;
    font-family: open-sans, sans-serif !important;
    font-weight: 400  !important;
}

.button.cost{
	margin-top: 20px;
	margin-left: 50px !important;

}

.who{
	line-height: 36px;
    color: #662D91;
    font-size: 30px;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 300;
}

.header.who{
	float: none;
	line-height: 54px;
    font-size: 45px;
    color: #D84286;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.button.who{
	margin-top: 20px !important;
}
/*
.segment.who{
	height: auto;
}*/

.segment.live{
	height: 400px;
	background-image: url(/assets/images/students.jpg) !important;
	background-position: center !important;
	/*background-size: 100% !important;*/
	background-color: #D84286 !important;
    opacity: 0.58 !important;
    padding-top: 200px !important;
    background-repeat: none !important;
}

.live{
	line-height: 43px;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: italic;

}
.grid.patners{
	height: 400px;
}
.patner.header{
	line-height: 41px;
    font-size: 34px;
	color: #959595;
    text-align: center;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: italic;
}