#u399
{
	background-color: #D84286;
}

#u372
{
	background-color: #2D2D2D;
}

#u374-4,#u375-4,#u452-4
{
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	color: #FFFFFF;
	font-size: 22px;
	line-height: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u377-4
{
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	color: #D0DFE2;
	font-size: 15px;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u384-5
{
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	color: #D0DFE2;
	font-size: 15px;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u383-4
{
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	color: #D0DFE2;
	font-size: 15px;
	line-height: 19px;
	letter-spacing: -1px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u459-4
{
	background-color: transparent;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	color: #D0DFE2;
	font-size: 22px;
	line-height: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u378-4,#u379-4,#u380-4,#u382-4
{
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	color: #D0DFE2;
	font-size: 15px;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u460-4
{
	background-color: transparent;
	opacity: 0.32;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=32)";
	filter: alpha(opacity=32);
	color: #FFFFFF;
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	letter-spacing: 1px;
	position: relative;
}

#u488-5
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u372_align_to_page,#u462,#u464,#u466,#u468
{
	position: relative;
}

#u373
{
	background-color: #D84286;
	border-radius: 16px;
	position: relative;
}

#u392-4
{
	background-color: transparent;
	opacity: 0.37;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	color: #BAC2C7;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0px;
	position: relative;
}

#u391-4
{
	background-color: transparent;
	color: #FFFFFF;
	position: relative;
}

#u385-4
{
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	color: #D0DFE2;
	font-size: 15px;
	line-height: 19px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u424,#u390,#u450
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u482,#u461,#u484,#u483
{
	background-color: #00AEA8;
	position: relative;
}

